header {
  background-color: darkred;

  padding-bottom: 18px;
  padding-top: 18px;
}

.hero {
  background-image: url("./suraj.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  object-fit:cover;
}
.main {
  color: rgb(242, 255, 0);
  font-size: 35px;
  margin-left: 25px;
  text-shadow: 0px 0px 3px black;
}

nav {
  text-align: right;
  margin-right: 25px;
}

nav a:hover {
  background-color: lightgrey;
  color: darkred;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu {
  margin-right: 15px;
  text-decoration: none;
  color: azure;
  font-family: roboto, sans-serif;
  font-size: 20px;
}
.men {
  text-decoration: none;
  color: azure;
  font-size: 20px;
  font-family: roboto, sans-serif;
}

.super {
  color: darkred;
  font-size: larger;
}
.s {
  font-size: 50px;
}
.course{
  display:flex;
}

select {
  text-decoration: none;
  margin-top: 250px;
  width: 300px;
  height: 2cm;
  background-color: darkred;
  color: white;
  font-size: 17px;
}
select:hover {
  background-color: rgba(255, 255, 255, 0.751);
  color: black;
  transition: 0.7s;
}
select option {
  background-color: black;
}
.ad {
  background-color: darkred;
  width: 300px;
  height: 2cm;
  color: white;
  font-family: roboto, sans-serif;
  margin-top: 250px;
  margin-left: 30px;
  display:flex;
  align-items: center;
}
.link {
  margin-left: 7px;
  text-decoration: none;
  color: white;
}
.new {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 300px;
  font-size: 70px;
  text-shadow: 0px 0px 10px darkgrey;
  margin-left: 30px;
}
.name {
  color: darkred;
  margin-left: 30px;
  font-family: roboto, sans-serif;
  font-size: 25px;
}
.scroll {
  text-align: center;
  background-color: darkred;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.about {
  background-color: lightgrey;
  margin-top: 10px;
  padding-bottom: 180px;
}
.paragraph {
  max-width: 600px;
  background-color: white;
  margin: auto;
  margin-top: 70px;
}
.start {
  font-size: 18px;
  font-family: roboto, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 10px 15px 5px black;
  max-width:500px;
}
.start:hover {
  background-color: darkred;
  color: white;
  transition: 0.7s;
}
.contact {
  max-width: 600px;
  background-color: white;
  box-shadow: 10px 15px 5px black;
  margin:auto;
}
.information {
  margin-left: 30px;
  padding: 15px;
}
.information:hover {
  background-color: darkred;
  color: white;
  transition: 0.7s;
}
.large {
  font-size: 20px;
  font-family: roboto, sans-serif;
}
.anuj {
  width: 300px;
  height: 300px;
  margin-top: -300px;
  box-shadow: 10px 10px 5px darkgrey;
}
.intro {
  font-size: 20px;
}
.border {
  border-style: solid;
  border-color: darkred;
}
.newimg {
  text-align: right;
  margin-top: -500px;
}
html,body{
  height:100%;
}
@media only screen and (max-width:600px){
  .about{
    flex-wrap:wrap;}
}

footer{
  background-color:darkred;
  padding-top:50px;
  padding-bottom:50px; 
  color:white;
  text-align:center;
}
.media{
  font-size:15px;
}
