* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
}
header {
  text-align: center;
  background-color: darkred;
  color: white;
  padding: 25px;
}
.sub {
  margin-top: 15px;
  color: rgb(232, 229, 229);
}
.menu {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  gap: 35px;
}
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: yellow;
}
.intro {
  max-width: 500px;
  height: 150px;

  background-color: white;
  padding: 5px;
  box-shadow: 0px 0px 3px 5px rgb(226, 225, 225);
}
@media (max-width: 100vw) {
  .divs {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .divs {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .divs {
    display: flex;
    flex-wrap: wrap;
  }
    .intro {
  width:350px;
    }
}

@media (max-width: 1024px) {
  .divsmaster {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .divsmaster {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }
}
.firstp {
  width: 330px;
  margin-left: 15px;
  text-align:justify;
  
}
.divsmaster {
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.divs {
  height: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 90vw;
  display: flex;
  gap: 20px;
}
h3 a {
  text-decoration: none;
  color: white;
}
h3 a:hover {
  color: yellow;
  font-weight: bold;
}
.intro:hover {
  background-color: darkred;
  color: white;
  transition: 0.7s;
}
.first {
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 15px;
}
li {
  margin-left: 15px;
}
.flex {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
footer h3 {
  text-align: center;
}
footer li {
  color: yellow;
}
footer {
  background-color: darkred;
  padding: 35px;
  color: white;
}
