* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 233, 233);
}
.heading {
  background-image: linear-gradient(
    to right,
    rgb(211, 12, 12),
    rgb(255, 119, 0)
  );
  color: white;
  padding: 15px;
}
.h1 {
  text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.492);
}
.ph1 {
  font-weight: bold;
  margin-top: 15px;
}
.nav {
  background-color: darkred;
  display: grid;
  justify-content: center;
  padding: 5px;
}
nav {
  display: grid;
  gap: 35px;

  grid-template-columns: auto auto auto;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
header {
  text-align: center;
}
nav a:hover {
  color: yellow;
}
.section {
  height: 100%;
  width: 100vw;
  display: grid;
  justify-content: center;
}
.about {
  background-color: white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  max-width: 1200px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.081);
}
.column {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 35px;

  margin-top: 30px;
}
.pus {
  max-width: 1200px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .column {
    grid-template-columns: 1fr;
  }
  

  .about {
    width: 350px;
  }
  .course {
    width: 350px;
  }
  .contact {
    width: 350px;
  }
  .inputtt {
    width: 300px;
  }
  button {
    width: 300px;
  }
}
.course {
  background-color: white;

  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  max-width: 1200px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.081);
}
.h2 {
  text-align: center;
  font-size: 30px;
  color: darkred;
}
.programming-p2,
.programming-p3,
.programming-p {
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
}
.sub,
.sub-2,
.sub-3 {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sub:hover {
  color: white;
  background-color: darkred;
  transition: 0.7s;
}
.sub-2:hover {
  color: white;
  background-color: darkred;
  transition: 0.7s;
}
.sub-3:hover {
  color: white;
  background-color: darkred;
  transition: 0.7s;
}
.contact {
  background-color: white;
  max-width: 1200px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.081);
}
.inputtt {
  max-width: 400px;
  border: 2px grey solid;
  height: 25px;
}
.input {
  display: grid;
  grid-template-rows: rows;
  gap: 15px;
  max-width:500px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 15px;
}

.inputmaster {
  width: 100%;
  display: grid;
  justify-content: center;
}
label {
  font-weight: bold;
}
button {
  height: 30px;
  max-width: 400px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  background-color: darkred;
}
footer {
  background-color: darkred;
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer {
  color: white;
  font-weight: bold;
}
button:hover {
  color: white;
  background-color: darkorange;
}
