body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  background-color: whitesmoke;
}
header {
  text-align: center;
  background-color: rgb(1, 1, 42);
  padding: 15px;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
nav {
  display: flex;
  gap: 15px;
  justify-content: center;
}
h1 {
  color: white;
}
nav a:hover {
  color: yellow;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.parent {
  text-align: center;
  background-color: white;
  width: 1000px;
  box-shadow: 0px 0px 3px 5px rgb(230, 226, 226);
  padding-bottom: 50px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

p {
  text-align: justify;
  max-width: 500px;
  margin: 15px;
  color: rgb(58, 58, 58);
}
img {
  width: 400px;
  margin-top: 50px;
  border-radius: 50px;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: yellow;
}
footer {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  background-color: rgb(1, 1, 42);
  padding: 25px;
  color: white;
}
.logo {
  text-align: center;
  text-decoration: none;
}
.footer {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.footer a:hover {
  color: white;
}
